/* 
====== 
Variables 
======
*/
:root {
    --clr-andre-submit-button: #06d11b;
     --clr-andre-blue: #3d5a89;
     --clr-andre-grey: #b3b8c0;
     --clr-andre-transparent-grey: rgba(179,184,192, 0.7);
     --clr-andre-transparent-blue: rgba(61,90,137, 0.7);
     --clr-andre-white: #fbfdff;
     --clr-andre-transparent-grey-shadow:0 1px 3px rgba(179,184,192, 0.2);
     --clr-andre-transparent-blue-shadow:0 1px 3px rgba(61,90,137, 0.2);
     --clr-andre-submit-button: #06d11b;
   
     --bcg-andre-right: linear-gradient( to right, #3d5a89  , #b3b8c0 );
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    background: var(--bcg-andre-right);
    
}

.calculator-grid{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem,auto) repeat(5, 6rem);
    margin-top: -26.5%;
    justify-content: left;
    
}

.calculator-grid > button {
    border: 1px solid var(--clr-andre-blue);
    color: var(--clr-andre-blue);
    background: var(--clr-andre-grey);
    font-weight: bold;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus{
    background: var(--clr-andre-white);
}

.span-two {
    grid-column: span 2;
}
    
.output {
    grid-column: 1 / -1 ;
    background-color: var(--clr-andre-transparent-blue);
    border: 3px solid var(--clr-andre-white);
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;

}



.output .previous-operand {
    color: rgba(255,255,255,.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

.logo{
    width: 375px;
    height:375px;
    margin-left: 50%;
}